body {
  background-color: #c5c5a6 !important;
}

/* NAVIGATION BAR */
.logoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  zoom: 7.5%;
}

.logoLabel {
  margin-left: 5px;
}

.nav-link,
.navbar-brand {
  cursor: pointer !important;
}

.navbar-toggler {
  color: #fff !important;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #85e385 !important;
}

/* HOME PAGE */

/* carousel CSS */
.carousel-item {
  height: 45vw;
  background: black;
  position: relative;
}

.carousel-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  color: white;
}

.carousel-container h1 {
  font-size: 9vw;
  font-family:runmedium;
}

.d-block {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}

/* Title CSS --UPDATED--*/
.container-fluid {
  /* border: 1px solid black; */
}

.bmi-row,
.calorie-row,
.journal-row,
.about-row {
  padding: 110px;
  /* border: 1px solid red; */
}

.bmi-row {
  background: url(images/BMI-picture.jpg) no-repeat left;
  background-color: #b1b173;
}

.calorie-row {
  background: url(images/Calorie-background.jpg) no-repeat right;
  background-color: #c5c5a6;
}

.journal-row {
  background: url(images/JournalWriting.jpg) no-repeat left;
  background-color: #dedec8;
}

.about-row {
  background: url(images/meeting.jpg) no-repeat left;
  background-size: 60%;
  background-color: #a8a85d;
}

.bmi-col,
.calorie-col,
.journal-col,
.about-col {
  /* border: 1px solid blue; */
}

.bmi-card,
.calorie-card,
.journal-card,
.about-card {
  background-color: transparent;
  border: transparent;
  /* border: 1px solid yellow; */
}

.bmi-card,
.journal-card,
.about-card {
  float: right;
}

.calorie-card {
  float: left;
}

.bmi-body,
.calorie-body,
.journal-body,
.about-body {
  background-color: #222;
  padding: 30px;
  border-radius: 25px;
}

.bmi-body a,
.calorie-body a,
.journal-body a {
  border: 1px solid #6ab446;
  background: #6ab446;
  border-radius: 15px;
  color: #fff;
}

.bmi-body a:hover,
.calorie-body a:hover,
.journal-body a:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

.bmi-title,
.calorie-title,
.journal-title {
  color: white;
  font-size: 3.1vw;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text {
  color: white;
}

/* Footer CSS */

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

/* ABOUT PAGE*/

.about-title-section {
  background-image: url(images/Dark-orange.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-title-section h1 {
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-size: 10vw;
  text-align: center;
  color: white;
}

.column {
  float: left;
  padding: 10px;
}

.left,
.right {
  width: 50%;
}

.left img,
.right img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left h4,
.right h4 {
  text-transform: uppercase;
  text-align: center;
}

.left p,
.right p {
  font-size: 1rem;
  text-align: center;
  /* padding-bottom: 5rem; */
}

.goals-title,
.teams-title {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.teams-title {
  padding-bottom: 5rem;
}

.background {
  background: #dedec8;
  padding: 4em 0;
}

.team {
  color: #5e5e55;
  padding: 0 121px;
}

.team .card-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.team .card {
  background: none;
  border: none;
}

.team .card-text {
  font-size: 1vi;
  margin-bottom: 0;
  text-transform: uppercase;
}

.team .card-title {
  font-size: 2vi;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}

@font-face {
    font-family: 'runmedium';
    src: url('runmedium-2vjo-webfont.woff2') format('woff2'),
         url('runmedium-2vjo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
