body {
  background-color: #c5c5a6 !important;
}

/* NAVIGATION BAR */
.logoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  zoom: 7.5%;
}

.logoLabel {
  margin-left: 5px;
}

.nav-link,
.navbar-brand {
  cursor: pointer !important;
}

.navbar-toggler {
  color: #fff !important;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #85e385 !important;
}


/* HOME PAGE */

/* carousel CSS */
.carousel-item {
  height: 45rem;
  background: black;
  position: relative;
}

.carousel-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  color: white;
}

.carousel-container h1 {
  font-size: 9vw;
  font-family:fantasy;
}

.d-block {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}


/* Title CSS */

.bmi-title,
.calorie-title,
.journal-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}


/* Section CSS */
.bmi-section,
.calorie-section,
.journal-section {
  background-size: 65%;
  overflow: hidden;
  padding: 140px;
}

.bmi-section {
  background: url(images/BMI-picture.jpg) no-repeat left;
  background-color: #b1b173;
}

.calorie-section {
  background: url(images/Calorie-background.jpg) no-repeat right;
  background-color: #c5c5a6;
}

.journal-section {
  background: url(images/JournalWriting.jpg) no-repeat left;
  background-color: #dedec8;
}

/* Inner Container CSS */

.bmi-inner-container,
.calorie-inner-container,
.journal-inner-container {
  width: 55%;
  background-color: #222;
  color: white;
  padding: 30px;
  border-radius: 25px;
}

.bmi-inner-container,
.journal-inner-container {
  float: right;
}

.calorie-inner-container {
  float: left;
}

/* Inner Container Button CSS */

.bmi-inner-container a,
.calorie-inner-container a,
.journal-inner-container a {
  border: 1px solid #6ab446;
  background: #6ab446;
  border-radius: 15px;
  color: #fff;
}

.bmi-inner-container a:hover,
.calorie-inner-container a:hover,
.journal-inner-container a:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

/* Footer CSS */

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}


/* ABOUT PAGE*/


.about-title-section {
  background-image: url(images/DLSU2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-title-section h1
{
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-size: 10vw;
  text-align: center;
  color: white;
}

.about-section {
  background-size: 65%;
  overflow: hidden;
  padding: 140px;
  background: url(images/DLSU.jpg) no-repeat left;
  background-color: #a8a85d;
}

.about-inner-container {
  width: 55%;
  background-color: #222;
  color: white;
  padding: 50px;
  border-radius: 25px;
  float: right;
}


.column {
  float: left;
  padding: 10px;
}

.left, .right{
  width: 50%;
}

.left img, .right img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left h4, .right h4{
  text-transform: uppercase;
  text-align: center;
}

.left p, .right p{
  font-size: 1rem;
  text-align: center;
  padding-bottom: 5rem;
}

.goals-title, .teams-title{
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.teams-title{
  padding-bottom: 5rem;
}


.background {
  background: #dedec8;
  padding: 4em 0;
}

.team {
  color: #5e5e55;
  padding: 0 121px;
}

.team .card-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.team .card {
  background: none;
  border: none;
}

.team .card-text {
  font-size: 1vi;
  margin-bottom: 0;
  text-transform: uppercase;
}

.team .card-title {
  font-size: 2vi;
  margin-bottom: 0;
  text-transform: uppercase;
}





@media screen and (max-width: 1130px) {
  .bmi-section,
  .calorie-section,
  .journal-section {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .bmi-inner-container,
  .calorie-inner-container,
  .journal-inner-container {
    padding: 50px;
  }
}
