body{
	background-color: #c5c5a6 !important;
};

.main{
	height: auto;
	width: 90%;
	margin: auto;
	height: 81%;
}

/* .journalMain{
    border: 1px solid black;
    background-color: black;
} */

#checklistItem{
    /* border: 1px solid black; */
    /* background-color:black; */
}

#checklistItems li, #workoutItems li, #calorieItems li{
    list-style-type: none;
}

.row{
    width: 100%;
}

.card{
    margin: 15px 0 0 10px;
}