.main {
  height: auto;
  width: 90%;
  margin: auto;
  height: 81%;
}

.logoTitle, .moods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  zoom: 7.5%;
}

.logoLabel {
  margin-left: 5px;
}

.mood{
    margin: 0 32px 0 32px;
}

#checklistItems li,
#workoutItems li,
#calorieItems li {
  list-style-type: none;
}

.checkEntry,
.workoutEntry,
.mealEntry {
  /* display: block; */
  display: flex;
  justify-content: space-between;
  /* float:right; */
  /* border: 1px solid black; */
}

.checked {
  opacity: 0.5;
}

.checked label {
  text-decoration: line-through;
  /* opacity:0.5; */
}

.page-footer {
  background-color: #222 !important;
  color: #ccc !important;
  padding: 60px 0 30px;
  margin-top: 20px;
}

.container {
  background-color: #222 !important;
  color: #ccc !important;
  padding: 0px;
  margin: 0px;
}

.footer-copyright {
  color: #666 !important;
  padding: 40px 0;
}

body {
  background-color: #c5c5a6 !important;
}
